@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tac+One&family=Workbench&display=swap');


.Below-Navbar-main{
    display: flex;  
    padding-left: 2vw;
    background-color: black;
    /* margin-right: 20vh;
    margin-left: 20vh; */
    height: 70vh;
    width: 100%;
    /* gap: auto; */
}

.Below-Navbarimage > img{
    width: 35vw;
    height: 25vw;
    filter: drop-shadow(0 0 10px rgba(176, 76, 59, 0.5));
    animation: glow 2s infinite, moveUpDown 4s infinite alternate;
}

.Below-Navbar-content > h2{
  text-align: center;
  font-size: 4vw;
  font-family: "Tac One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(241, 232, 232);
}
.Below-Navbar-content > p{
    font-family: poppins;
    color: rgb(232, 221, 221);
}

@keyframes glow {
    0%, 100% {
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); /* Initial and final shadow */
    }
    50% {
      filter: drop-shadow(0 0 20px rgb(150, 130, 116)); /* Increased shadow */
    }
  }

  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(5); /* Initial and final position */
    }
    50% {
      transform: translateY(-10px); /* Move up */
    }
  }

  @media (max-width: 768px) {
    .Below-Navbar-main {
      font-size: .69em;
    display: flex;
    flex-direction: column;
    height: 110vw;
    width: 39vh;
    justify-content: space-around;
    align-items: center;
    }
    .Below-Navbar-content{
      height: 50vw;
      width: 60vw;
    }
    Below-Navbar-content > p{
      width: 100vh;
    }
    .Below-Navbarimage > img{
        display: flex;
        height: 40vw;
        width: 50vw;
    }
  }


.glow-on-hover:hover {
    /* Add your desired glow effect styles */
    text-shadow: 0 0 5px #5d9d5d; /* Green glow effect */
    transition: text-shadow 0.5s ease; /* Smooth transition for the glow effect */
}

  

